<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckoutSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CheckoutSystem.Properties.Settings>
            <setting name="WaitSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AddValue" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AI_ProductList" serializeAs="String">
                <value>/Model/ProductList.txt</value>
            </setting>
            <setting name="AI_weights" serializeAs="String">
                <value>/Model/yolov3-ISAI_TC_complex6_best.weights</value>
            </setting>
            <setting name="AI_cfg" serializeAs="String">
                <value>/Model/yolov3-ISAI_TC_complex6.cfg</value>
            </setting>
            <setting name="AI_names" serializeAs="String">
                <value>/Model/ISAI_TC_complex6.names</value>
            </setting>
            <setting name="WebIP" serializeAs="String">
                <value>192.168.42.129</value>
            </setting>
        </CheckoutSystem.Properties.Settings>
    </userSettings>
</configuration>
